@model FlatPlanet.Models.FlatPlanet


@{
    ViewBag.Title = "Flat Planet";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>

            </hgroup>

        </div>
    </section>
}

@using (Html.BeginForm())
{
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Counter)
    </div>
    <div class="editor-field">
       
        @Html.DisplayFor(model => model.Counter)       
        <h2>@ViewBag.Message</h2>
    </div>
    <p>
        <input type="submit" value="  Start  " />
    </p>

}
